{% extends "@FerienpassAdmin/layout/base.html.twig" %}
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}

{% trans_default_domain 'admin' %}
{% set translationPrefix = app.request.get('_route')|split('_')[1] %}
{% set action = app.request.get('_route')|split('_')[2] %}


{% if pagination is defined %}
    {% set items = pagination.results %}
{% endif %}

{% block main %}

    {% set headline = "#{translationPrefix}.#{action}.title"|trans %}

    <div class="flex justify-between">

        {{ partials.h1((headline == "#{translationPrefix}.#{action}.title") ? "#{translationPrefix}.title"|trans : headline) }}

        {% block headline_actions %}

            {% if createUrl is defined %}
                <a href="{{ createUrl }}"
                   class="rounded-md bg-primary-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">
                    <span class="flex items-center space-x-1">
                        <span class="h-5 w-5">{{ source('@FerienpassAdmin/icons/plus-solid.svg') }}</span>
                        <span>Neu anlegen</span>
                    </span>
                </a>
            {% endif %}

        {% endblock %}

    </div>

    {% block list %}
        {% include '@FerienpassAdmin/components/list.html.twig' %}
    {% endblock %}

{% endblock %}
