{% extends "@FerienpassAdmin/layout/base.html.twig" %}

{% block content %}

    <div>

        {% if items is not empty %}


            <div class="px-4">
                {% embed '@FerienpassAdmin/components/list.html.twig' %}

                    {% block title %}

                        <p class="text-sm font-semibold leading-6 text-gray-900">{{ item.name }}</p>
                        <p class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">
                            Complete</p>

                    {% endblock %}

                {% endembed %}
            </div>

        {% else %}

            <div class="px-8 py-6">
                {% include '@FerienpassAdmin/components/alert/info.html.twig' with {'message': 'noOffers'|trans } %}
            </div>

        {% endif %}

    </div>

{% endblock %}