<div class="rounded-md bg-yellow-50 p-4">
    <div class="flex">
        <div class="flex-shrink-0">
            <span class="h-5 w-5 text-yellow-400 block">
                {% include '@FerienpassCore/Icons/exclamation-contrast.svg.twig' %}
            </span>
        </div>
        <div class="ml-3">
            {% set _headline = block('headline') %}
            {% if _headline is not empty %}
                <h3 class="text-sm leading-5 font-medium text-yellow-800">
                    {% block headline %}{{ headline }}{% endblock %}
                </h3>
            {% endif %}
            <div class="{% if _headline is not empty %}mt-2 {% endif %}text-sm leading-5 text-yellow-700">
                <p>
                    {% block content %}{{ message }}{% endblock %}
                </p>
            </div>
        </div>
    </div>
</div>
