<div class="rounded-md bg-blue-50 dark:bg-blue-900 dark:bg-opacity-50 p-4">
    <div class="flex">
        <div class="flex-shrink-0">
            <span class="block h-5 w-5 text-blue-400 dark:text-blue-300">{{ source('@FerienpassAdmin/icons/information-circle-solid.svg') }}</span>
        </div>
        <p class="ml-2 text-sm leading-5 text-blue-700 dark:text-blue-200">{% block message %}{{ message }}{% endblock %}</p>
    </div>
</div>
