$bar-color: #b8c2cc !default;
$bar-stroke: #8D99A6 !default;
$border-color: #e0e0e0 !default;
$light-bg: #f5f5f5 !default;
$light-border-color: #ebeff2 !default;
$light-yellow: #fcf8e3 !default;
$text-muted: #666 !default;
$text-light: #555 !default;
$text-color: #333 !default;
$blue: #1c6b9c;
$handle-color: #ddd !default;

@import "../../node_modules/frappe-gantt/src/gantt";

.gantt .handle-group {
  display: none;
}

.gantt .bar-label {
  font-weight: normal;
}

@import "../../node_modules/frappe-charts/src/css/charts";
