{% trans_default_domain 'admin' %}

<div class="divide-y divide-gray-300">

    {#        {{ render(controller('Ferienpass\\AdminBundle\\Controller\\Fragment\\ListFilterController', {  })) }} #}

    <div class="flex justify-between py-4">
        <div>
            {% block head_before %}{% endblock %}
        </div>
        {% if filter is defined %}
            {% include '@FerienpassAdmin/components/_list_filter.html.twig' with filter %}
        {% endif %}
    </div>

    {% if config.columns is defined %}
        {% include '@FerienpassAdmin/components/_list.table.html.twig' with config %}
    {% else %}
        {% include '@FerienpassAdmin/components/_list.html.twig' with config %}
    {% endif %}

</div>

{% if pagination is defined %}
    <div class="py-10">
        {% include '@FerienpassCore/Partial/pagination.html.twig' %}
    </div>
{% endif %}
