{% trans_default_domain 'admin' %}

<div {{ attributes }}>

    {% set pagination = this.pagination(app.request) %}
    {% set items = pagination.results %}

    {% embed '@FerienpassAdmin/components/list.html.twig' with { filter: form } %}
        {% block head_before %}

            {% if searchable is not empty %}
                <div>
                    <label for="search" class="sr-only">Liste durchsuchen</label>
                    <div class="relative">
                        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                            <span class="h-5 w-5 text-gray-400">
                                {{ source('@FerienpassAdmin/icons/MagnifyingGlass.solid.svg') }}
                            </span>
                        </div>
                        <input type="search"
                               data-model="query"
                               name="search"
                               id="search"
                               class="block w-full py-1 pl-10 sm:text-sm sm:leading-6"
                               placeholder="Suchen…">
                    </div>
                </div>
            {% endif %}

        {% endblock %}
    {% endembed %}

    {% component "Admin:Modal" %}
        {% block content %}
            <twig:Admin:ListDeleteModal type="{{ (routeName ?? app.request.get('_route'))|split('_')[1] }}"/>
        {% endblock %}
    {% endcomponent %}

    {% component "Admin:SlideOver" %}
        {% block content %}
            <twig:Admin:ListActivityPanel entity="{{ entityClass }}"/>
        {% endblock %}
    {% endcomponent %}

</div>
