<div x-data='{ tasks: {{ tasks|json_encode|raw }}, gantt: null, viewMode: "Month" }'
     x-init="{{ '

gantt = new Gantt($refs.gantt, tasks, { view_mode: viewMode, custom_popup_html: function(task) {
  return `
<div class="px-4 py-2">
<h5 class="text-white text-sm font-medium whitespace-nowrap">${task.name}
<a class="text-white font-normal text-xs underline" href="${task.editLink.href}" title="${task.editLink.title}">${task.editLink.link}</a>
</h5>
<p class="mt-1 text-gray-100 leading-4 text-sm">${task.description}</p>
</div>
`;
} }); $watch(\'viewMode\', value => gantt.change_view_mode(value))

'|e('html_attr') }}">

  <div class="flex items-center justify-between mb-2">
    <div>
    <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Zeitplan</h2>
    <p class="text-xs text-gray-500 mb-2 max-w-md">Die Etappen haben einen funktionalen Einfluss auf das System. Abh채ngigkeiten m체ssen erf체llt sein um n채chste Etappen zu aktivieren.</p>
    </div>
    <div>
       <span class="relative z-0 inline-flex shadow-sm rounded-md">
  <button type="button"
          @click="viewMode = 'Day'"
          class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
          :class="{ 'bg-gray-100' : viewMode === 'Day' }"
  >Tage</button>
  <button type="button"
          @click="viewMode = 'Week'"
          class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
          :class="{ 'bg-gray-100' : viewMode === 'Week' }"
  >Wochen</button>
  <button type="button"
          @click="viewMode = 'Month'"
          class="-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
          :class="{ 'bg-gray-100' : viewMode === 'Month' }"
  >Monate</button>
</span>
    </div>
  </div>

    <svg id="gantt" x-ref="gantt"></svg>
</div>
