<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-10 lg:py-16" x-data="{ }">

    <div class="md:flex">
        <div class="max-w-xs mx-auto md:max-w-full md:flex-1">
            <div class="md:transform md:-translate-x-16">
                {% include '@FerienpassCore/Svg/welcome.svg.twig' %}
            </div>
        </div>

        <div class="mt-8 sm:mt-0 sm:w-full sm:max-w-md sm:flex items-center">

            <div>
                <div class="text-xl text-gray-500">
                    <h1 class="mb-8">Willkommen an Board, {{ app.user.firstname }}</h1>

                    <p>Sie sind nun erfolgreich auf der Webseite registriert und können gleich Ihre Kinder zu
                        Ferienpass-Angeboten anmelden.</p>
                </div>
                <div class="mt-6">
                    <button type="button"
                            @click="window.scrollTo({top: $refs.scrollTo.getBoundingClientRect().top, behavior: 'smooth'})"
                            class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-primary-700 bg-primary-100 hover:bg-primary-50 focus:outline-none focus:border-primary-300 focus:shadow-outline-primary active:bg-primary-200 transition ease-in-out duration-150">
                        Kinder hinzufügen
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="py-10 lg:py-16" x-ref="scrollTo">
        <div class="mt-8 sm:mt-0">

            <div class="text-xl text-gray-500">
                <h2 class="leading-8 mb-2"><span class="font-light">Eine Frage noch:</span><br>Wie heißen Ihre Kinder?
                </h2>

                <p>Bevor Sie Ihre Kinder zu den Angeboten anmelden können, müssen wir die Namen Ihrer Kinder kennen.</p>
            </div>

        </div>
    </div>
</div>
