{% extends "@FerienpassAdmin/layout/base.html.twig" %}
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}

{% block main %}

    <div>
        {{ partials.h1('Hi ' ~ app.user.firstname ~ '!') }}

        <p class="mt-3 max-w-2xl text-xl leading-7 text-gray-600 _dark:text-gray-400 sm:mt-4">
            Was gibt es heute zu erledigen?
        </p>
    </div>

    {% for widget in widgets %}
        {{ render(controller(widget)) }}
    {% endfor %}

{% endblock %}
