<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="py-12 sm:py-16">
        <div class="shadow rounded overflow-hidden">
            {% embed '@FerienpassCore/Alert/error.html.twig' %}
                {% block headline %}
                    Geschützter Bereich
                {% endblock %}
                {% block content %}
                    Um diese Seite aufrufen zu können, müssen Sie angemeldet sein. Leider sind zur Zeit keine Anmeldungen möglich, da kein Ferienpass aktiv und veröffentlicht ist.
                {% endblock %}
            {% endembed %}
        </div>
    </div>
</div>