<h2>Lizenzen und Quellenverweise</h2>
<h3>Grafiken</h3>
<ul>
    <li>„Person mit Luftballon in Wolken“ von <a
                href="https://iconscout.com/contributors/pixel-true-designs/illustrations" rel="nofollow">Pixel True</a>
        - lizenziert unter <a href="https://creativecommons.org/licenses/by/4.0/" rel="nofollow">Creative Commons 4
            Attribution</a></li>
</ul>
