{% block root %}
    <div class="w-full">
        <h2 class="text-center mb-10">{% block headline %}Anmelden{% endblock %}</h2>

        <div class="md:flex-1 bg-white shadow sm:rounded-lg">

            {% block container %}
                <div x-data="{ activeTab: window.location.hash == '#registrieren' ? 'registration' : 'login' }" role="tablist" aria-label="Auf der Webseite anmelden">
                    {% block tabNavigation %}
                        <div class="border-b border-gray-200">
                            <nav class="-mb-px flex">
                                <button type="button"
                                        id="btn-tab-login"
                                        role="tab"
                                        aria-controls="tabpanel-login"
                                        :aria-selected="activeTab === 'login' ? 'true' : 'false'"
                                        @click="activeTab = 'login'"
                                        :class="activeTab === 'login' ? 'border-primary-500 text-primary-600 focus:text-primary-800 focus:border-primary-700' : 'text-gray-500 focus:text-gray-700 focus:border-gray-300 hover:text-gray-700 hover:border-gray-300  border-transparent'"
                                        class="w-1/2 py-4 px-1 text-center border-b-2 font-semibold uppercase tracking-wider text-sm leading-5 focus:outline-none">
                                    {% block loginTabLabel %}Anmelden{% endblock %}
                                </button>
                                <button type="button"
                                        id="btn-tab-registration"
                                        role="tab"
                                        aria-controls="tabpanel-registration"
                                        :aria-selected="activeTab === 'registration' ? 'true' : 'false'"
                                        @click="activeTab = 'registration'"
                                        :class="activeTab === 'registration' ? 'border-primary-500 text-primary-600 focus:text-primary-800 focus:border-primary-700' : 'text-gray-500 focus:text-gray-700 focus:border-gray-300 hover:text-gray-700 hover:border-gray-300  border-transparent'"
                                        class="w-1/2 py-4 px-1 text-center border-b-2 font-semibold uppercase tracking-wider text-sm leading-5 focus:outline-none">
                                    {% block registrationTabLabel %}Registrieren{% endblock %}
                                </button>
                            </nav>
                        </div>
                    {% endblock %}

                    <div class="py-8 px-4 sm:px-10" role="tabpanel" id="tabpanel-login" aria-labelledby="btn-tab-login"
                         x-show="activeTab === 'login'">

                        <twig:Cms:SignIn:Login />

                    </div>

                    <div class="py-8 px-4 sm:px-10" role="tabpanel" id="tabpanel-registration"
                         aria-labelledby="btn-tab-registration" x-show="activeTab === 'registration'">

                        <twig:Cms:SignIn:Registration />

                    </div>
                </div>
            {% endblock %}

        </div>
    </div>
{% endblock %}
