<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-12 sm:py-16">
    <div>
        {% if error is defined %}
            {% embed '@FerienpassCore/Alert/error.html.twig' %}
                {% block headline %}{{ 'ERR.general'|trans([], 'contao_default') }}{% endblock %}
                {% block content %}{{ error|trans }}{% endblock %}
            {% endembed %}
        {% endif %}
    </div>
</div>
