<div class="max-w-5xl mx-auto sm:px-6 lg:px-8 py-10">

    {% if edition is not defined %}

        <div class="flex items-center justify-center">
            <span class="h-16 w-16 text-gray-400 mr-4">{{ source('@FerienpassCore/Icons/emoji-sad.svg') }}</span>
            <p class="text-gray-600 text-2xl">Leider sind aktuell keine Ferienpass-Angebote veröffentlicht.</p>
        </div>

    {% else %}

        <div class="px-4 sm:px-0">
            {% include '@FerienpassCore/Component/divider_title_left.html.twig' with { title: "Alle Angebote" } %}
        </div>

        <div class="px-4 sm:px-0">

            <div class="mt-2 mb-6">

                {% for attr, filterValue in filter.humanReadable %}

                    <span class="inline-flex rounded-full items-center py-0.5 pl-2.5 pr-1 text-sm font-normal bg-primary-100 text-primary-700">
                        <span>{{ filterValue|trans }}</span>
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({(attr): null, page: null})) }}"
                           class="flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center text-primary-400 hover:bg-primary-200 hover:text-primary-500 focus:outline-none focus:bg-primary-500 focus:text-white">
                            <span class="sr-only">Lösche Filter</span>
                            <span class="block h-3 w-3">{{ source('@FerienpassCore/Icons/x-solid.svg') }}</span>
                        </a>
                    </span>

                {% endfor %}

            </div>
        </div>

        {% include '@FerienpassCore/Partial/offer_list.html.twig' with { offers: pagination.results } %}

        <div class="py-10">
            {% include '@FerienpassCore/Partial/pagination.html.twig' %}
        </div>

    {% endif %}
</div>
