<div class="mb-10 sm:mb-16 last:mb-0 sm:last:mb-0">
    <div class="{% if maxWidth|default == 'narrow' %}max-w-4xl{% endif %}{% if align == 'center' %} mx-auto{% endif %}">

        <div class="{% if align == 'center' %}text-center{% endif %}">
            {% if headline %}
                {% if hl == 'h1' %}
                    <h1 class="mb-6">{{ headline }}</h1>
                {% endif %}
            {% endif %}

            <div class="{% if maxWidth|default == 'narrow' %}max-w-2xl{% endif %}{% if align == 'center' %} mx-auto{% endif %} text-lg text-gray-700">
                {{ text|raw }}
                {% if maxWidth|default == 'narrow' %}
            </div>
            {% endif %}
        </div>

    </div>
</div>
