{% extends "@FerienpassAdmin/layout/login.html.twig" %}

{% block content %}

    <p class="mt-2 text-sm leading-5 text-gray-600 dark:text-gray-200 max-w">Wählen Sie ein neues Passwort.</p>

    {{ form_start(form) }}
    <div class="space-y-6">
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}

{% endblock %}
