<div class="rounded-lg bg-white overflow-hidden shadow py-2">
    <div {{ stimulus_controller('ferienpass/admin-chart-utilization', {
        labels: data.labels,
        datasets: data.datasets
    }) }}></div>
</div>
