<div class="rounded-lg bg-white overflow-hidden shadow py-2">
    <div {{ stimulus_controller('ferienpass/admin-chart-age', {
        labels: data|column('title'),
        datasets: data|column('count')
    }) }}></div>
</div>
