<div class="rounded-lg bg-white overflow-hidden shadow py-2">
    <div class="chart--attendances"></div>
</div>

<script>
    new frappe.Chart(document.querySelector('.chart--attendances'), {
        title: "Anmeldungen pro Tag",
        type: 'heatmap',
        colors: ["#ebedf0", "#c0ddf9", "#73b3f3", "#3886e1", "#17459e"],
        data: {
            dataPoints: {{ data|json_encode|raw }},
        },
    });
</script>
