<div>

    {% if values is not empty %}
        <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Anmeldungen pro Tag</h2>
        <div class="mt-3 rounded-lg bg-white overflow-hidden shadow">
            <div class="flex justify-center"
                 x-data='DashboardHeatmap({{ values|json_encode|raw }}, new Date({{ min(values|keys) * 1000 }}))'>
                <div x-ref="chart"></div>
            </div>
        </div>
    {% endif %}

    {% if count_offers_by_day|default is not empty %}
        <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Angebotstermine</h2>
        <div class="mt-3 rounded-lg bg-white overflow-hidden shadow">
            <div class="flex justify-center"
                 x-data="{{ ('DashboardHeatmap('~count_offers_by_day|json_encode ~', new Date('~ min(count_offers_by_day|keys) * 1000 ~ '))')|e('html_attr') }}">
                <div x-ref="chart"></div>
            </div>
        </div>
    {% endif %}
</div>
