<div>

    {% if values is not empty %}
        <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Anmeldungen pro Tag</h2>
        <div class="mt-3 rounded-lg bg-white overflow-hidden shadow">
            <div class="flex justify-center"
                    {{ stimulus_controller('ferienpass/admin-chart-attendances', {
                        dataPoints: values,
                        start: min(values|keys) * 1000,
                    }) }}></div>
        </div>
    {% endif %}

    {% if count_offers_by_day|default is not empty %}
        <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Angebotstermine</h2>
        <div class="mt-3 rounded-lg bg-white overflow-hidden shadow">
            <div class="flex justify-center"
                    {{ stimulus_controller('ferienpass/admin-dasboard-heatmap', {
                        dataPoints: count_offers_by_day,
                        start: min(count_offers_by_day|keys) * 1000,
                    }) }}></div>
        </div>
    {% endif %}
</div>
