<div>

    {% for element in editions %}

        <div class="relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex items-center justify-between">
                <span class="pr-3 bg-gray-100 text-lg font-medium text-gray-900">{{ element.edition.name }}</span>
                <div class="relative flex justify-center">
                    <span class="relative z-0 inline-flex shadow-sm rounded-md -space-x-px">
                        <a href="{{ path('contao_backend', {do: 'editions', table: 'EditionTask', id: element.edition.id}) }}"
                           title="Ablauf planen"
                           class="relative inline-flex items-center px-3 py-1.5 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-400 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                            <span class="sr-only">Ablauf planen</span>
                            <svg class="w-5 h-5 text-gray-400 mr-1" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
                                        d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM14 11a1 1 0 011 1v1h1a1 1 0 110 2h-1v1a1 1 0 11-2 0v-1h-1a1 1 0 110-2h1v-1a1 1 0 011-1z"></path></svg>
                        </a>
                        <a href="{{ path('admin_editions_stats', {alias: element.edition.alias}) }}"
                           title="Statistiken"
                           class="relative inline-flex items-center px-3 py-1.5 border rounded-r-md border-gray-300 bg-white text-sm font-medium text-gray-400 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                            <span class="sr-only">Statistiken</span>
                            <svg class="w-5 h-5 text-gray-400 mr-1" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg"><path
                                        d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path
                                        d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="mt-2"
                {{ stimulus_controller('ferienpass/admin-dashboard-gantt', {
                    tasks: element.tasks,
                }) }}
        >

            <div class="flex items-center justify-between mb-2">
                <div>
                    <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Zeitplan</h2>
                    <p class="text-xs text-gray-500 mb-2 max-w-md">Die Etappen haben einen funktionalen Einfluss auf das
                        System. Abh채ngigkeiten m체ssen erf체llt sein, um n채chste Etappen zu aktivieren.</p>
                </div>
                <div>
                    <span class="relative z-0 inline-flex shadow-sm rounded-md">
                        <button type="button"
                                @click="viewMode = 'Day'"
                                class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
                                :class="{ 'bg-gray-100' : viewMode === 'Day' }"
                        >Tage</button>
                        <button type="button"
                                @click="viewMode = 'Week'"
                                class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
                                :class="{ 'bg-gray-100' : viewMode === 'Week' }"
                        >Wochen</button>
                        <button type="button"
                                @click="viewMode = 'Month'"
                                class="-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
                                :class="{ 'bg-gray-100' : viewMode === 'Month' }"
                        >Monate</button>
                    </span>
                </div>
            </div>

            <svg id="gantt" x-ref="gantt"></svg>
        </div>

    {% endfor %}

</div>
