<div class="flex">
    <div>
        <img src="{{ asset('images/sleep-'~random(1, 4)~'.svg', 'ferienpass_core') }}" alt="" class="w-32 h-32">
    </div>
    <div class="px-4 py-5 sm:p-6 flex justify-center flex-col">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Keine Anmeldungen möglich <span class="font-normal text-gray-500">({{ editions|map(e => "#{e.name}")|join(', ') }})</span>
        </h3>
        <div class="mt-2 max-w-md text-sm leading-5 text-gray-500">
            <p>Es ist kein Anmeldesystem aktiv, deswegen sind aktuell keine Anmeldungen möglich.</p>
        </div>
    </div>
</div>
